## Deliverable 3. Create a Travel Itinerary Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,city,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,upington,ZA,287.55,clear sky,-28.4478,21.2561,River Place Manor
1,3,mataura,NZ,281.19,overcast clouds,-46.1927,168.8643,Ellie's Villa
2,4,kaeo,NZ,287.22,light rain,-35.1000,173.7833,Bushido Lodge
3,8,barrow,US,280.16,overcast clouds,71.2906,-156.7887,King Eider Inn
4,9,bratsk,RU,286.42,scattered clouds,56.1325,101.6142,"Gostinitsa ""Shvedka"""

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>city</dt><dd>{city}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 

# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["city"] == "mar del plata"]
vacation_end = vacation_df.loc[vacation_df["city"] == "mar del plata"]
vacation_stop1 = vacation_df.loc[vacation_df["city"] == "olavarria"]
vacation_stop2 = vacation_df.loc[vacation_df["city"] =="san luis"]
vacation_stop3 = vacation_df.loc[vacation_df["city"] == "rafaela"]

vacation_stop1

,City_ID,city,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
27,105,olavarria,AR,282.15,clear sky,-36.8927,-60.3225,Hotel Santa Rosa

In [55]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]
start

array([-38.0023, -57.5575])

In [59]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,city,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,66,mar del plata,AR,285.42,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
1,105,olavarria,AR,282.15,clear sky,-36.8927,-60.3225,Hotel Santa Rosa
2,168,san luis,AR,287.63,clear sky,-33.2950,-66.3356,Huarpes Hotel
3,209,rafaela,AR,288.18,clear sky,-31.2503,-61.4867,Parra Hotel & Suites

In [67]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Current Weather</dt><dd>{Max Temp}F and {Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [68]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))